<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    version="4.0">
  <display-name>SimpleServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>Author</param-name>
    <param-value>S Salgado</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>SimpleServlet</servlet-name>
    <servlet-class>com.sanushi.javaweb.basics.SimpleServlet</servlet-class>
    <init-param>
      <param-name>AppName</param-name>
      <param-value>New Servlet App</param-value>
    </init-param>
  </servlet>
   <servlet>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>com.sanushi.javaweb.basics.ControllerServlet</servlet-class> 
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SimpleServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SimpleServlet</servlet-name>
    <url-pattern>/Dog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SimpleServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>*.mvcdemo</url-pattern>
  </servlet-mapping>
  
  <error-page>
    <location>/WEB-INF/error.jsp</location>
  </error-page>
  
</web-app>